<!DOCTYPE html>
<html>
	<head>
		<title>Arena Wars - API Home</title>
		<meta charset="utf-8"/>
	</head>
	<body>
		<div class="container">
			<h1>Arena Wars API</h1>
			<p>Welcome to the Arena Wars API.</p>
		</div>
		<div class="container sidebar">
		
		</div>
	</body>
</html>