<!DOCTYPE html>
<html>
	<head>
	    <title>Arena Wars</title>
	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
	    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
	    <script src="../js/libs/three.js"></script>
	    <script src="../js/libs/physi.js"></script>
		<script src="../js/libs/stats.min.js"></script>
		<script src="../js/libs/dat.gui.min.js"></script>
		<script src="../js/libs/OrbitControls.js"></script>
		<script src="https://cdn.socket.io/socket.io-1.3.7.js"></script>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-inverse">
				<div class="container">
					<div class="navbar-header">
						<a class="navbar-brand">Arena Wars</a>
					</div>
					<section class="collapse navbar-collapse">
						<ul class="nav navbar-nav">
							<li><a href="/signout">Sign Out</a></li>
						</ul>
					</section>
				</div>
			</nav>
		</header>
		<div id="container">
		<div id="inset">
		<script src="../js/game.js"></script>
	</body>
</html>