body {
    /*padding: 50px;*/
    /*padding-top: 80px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

a {
  `color: #00B7FF;
}

#container {
	`margin: 0 auto;
}

#inset {
    width: 200px;
    height: 200px;
    background-color: #fff; /* or transparent; will show through only if renderer alpha: true */
    border: 1px solid black; /* or none; */
    margin: 20px;
    padding: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 100;
}

/* Index Page */

.welcomeSection {
    position: relative;
    top: 80px;
}

.welcomeSection img {
    display: block;
    margin: 0 auto;
}

#playArenaWars {
    margin-bottom: 15px;
}

.signInMessage {
    padding-top: 20px;
}


/* Three.js menus */

.menu {
    font-family: 'Fenix';
    margin: 0 auto;
    text-align: center;
}

.enterNameForm {
    display: inline;
}

.mainMenu {
    width: 45%;
    margin: 0 auto;
}

.mainMenu img {
    display: block;
}

.mainMenu input {
    margin-bottom: 10px;
}

.playForm {
    margin: 0 auto;
    width: 75%;
}

.gameLobby {
    width: 45%;
}

.gameOverScreen {
    width: 45%;
    height: 400px;
}